include .editorconfig
include .travis.yml
include COPYING
include *.rst
include doc/images/depends.png
include doc/conf.py
include doc/pip.dot
include doc/wordlist.txt
include extra/README.pip
include extra/doap.rdf
include extra/requirements*.txt
include ca_certs_locater.py
include tests/data/config/.jnrbaserc

include tests/*.py

recursive-include .github *.rst
recursive-include doc *.rst
recursive-include tests/data *.tar
recursive-include tests/data/pip *.txt
