-r requirements-test.txt
flake8>=3.7
flake8-bugbear>=20.1
flake8-chart>=0.1
flake8-comprehensions>=3.2
flake8-copyright>=0.2
flake8-import-order>=0.18
flake8-string-format>=0.3
pep8-naming>=0.9
pydocstyle>=5.0
pytest-html>=2.0
